<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpq.bigincident.mapper.CategoryMapper">

    <resultMap id="CategoryResult" type="Category">
        <id property="id" column="id" />
        <result property="categoryName" column="category_name" />
        <result property="categoryAlias" column="category_alias" />
        <result property="createUser" column="create_user" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>
    <sql id="CategoryVo">
        select id, category_name, category_alias, create_user, create_time, update_time from category
    </sql>

    <insert id="add" parameterType="Category">
        insert into category(category_name, category_alias, create_user, create_time, update_time)
        values (#{categoryName}, #{categoryAlias}, #{createUser}, now(),now())
    </insert>

    <update id="update" parameterType="Category">
        update category set category_name = #{categoryName}, category_alias = #{categoryAlias}, update_time = now()
        where id = #{id}
    </update>

    <select id="selectList" resultMap="CategoryResult" parameterType="Category">
        <include refid="CategoryVo" />
        where create_user = #{createUser}
    </select>

    <select id="selectById" parameterType="Category" resultMap="CategoryResult">
        <include refid="CategoryVo" />
        where id = #{id} and create_user = #{createUser}
    </select>
</mapper>
